<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Online Book Store, <%= @user.name %></h1>
    <p>
      You have successfully signed up to Online Book Store,
      your name is: <%= @user.name %><br>
      Please Sign in to visit the site.
    </p>
    <p>Thank you for joining and have a great day!</p>
  </body>
</html>
