.book {
  color: $white;
  margin-left: 3.125rem;
  margin-right: 3.125rem;
  border-style: double;

  &__title {
    display: flex;
  }

  &__cards {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    background-color: $white;
  }

  &__cards::-webkit-scrollbar-button {
    display: block;
  }

  &__card {
    border-style: solid;
    margin-right: 1.25rem;
    height: 21.875rem;
    background-color: $light-blue;
  }

  &__card:hover {
    transform: scale(1.09);
  }

  &__img {
    display: block;
    height: 9.375rem;
    width: 9.375rem;
    margin-left: auto;
    margin-right: auto;
  }

  &__content {
    width: 12.5rem;
    height: 13.125rem;
    text-align: center;
  }

  &__name {
    padding: 0.313rem 0.313rem 0 0.313rem;
    font-family: monospace;
    font-weight: bold;
    font-size: large;
    color: $dark-blue;
  }

  &__description {
    font-family: monospace;
    font-weight: bold;
    font-size: medium;
    color: $dark-blue;
  }

  &__link {
    background: $link-background;
    color: $white;
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
    display: inline-block;
    margin-top: .5rem;

    &:hover {
      background: $hover-background;
      font-weight: bold;
    }
  }
}
