<%= render 'partials/navbar' %>

<% if flash.any? %>
  <% flash.each do |type, message| %>
  <div class="alert <%= flash_class(type) %> alert-dismissible fade show text-center" role="alert">
    <%= message %>
  </div>
  <% end %>
<% end %>
